[2020-10-05 20:23] ksachdeva opened #1 "Model corresponding to Ours-S-TT"
Hi,

First thanks for this very well written paper and an innovative approach.

Your readme mentions that one can reproduce the results from Table 2 of the paper (page 11). In the table, there are 2 models mentioned - Ours-S-TT and PECNet. However, in your repo, you have 3 models.

Would appreciate if you could suggest which model corresponds to Ours-S-TT

Regards & thanks
Kapil

[2020-10-05 21:27] karttikeya commented on #1
Hello,

Thank you — hope the code and paper are helpful. We provide results for final models in the repo, but if helpful we can put up models from ablation studies as well. For now, loading the dataset (SDD/UTH+ECY — which are be publicly available) directly and training without the social pooling layers should give results on this.

Regarding the truncation trick (TT), sampling from a truncated n

[2020-10-05 21:50] ksachdeva commented on #1
Thanks @karttikeya for this quick response. Much appreciated.

A few questions -

a) I managed to run your `test_pretrained_model.py` with PECNET_social_model1.pt and it shows ADE/FDE of 9.96/15.88 which did not match any row in Table 2 and then I looked at Table 1 which is for SDD and I find these numbers in that table.

I think there is a typo in your README where it says that we can reproduce r

[2020-10-06 03:44] karttikeya commented on #1
Of course,

- Indeed, it looks like a small typo — our main dataset of interest was SDD so provided models are pre-trained on this dataset.
- All 3 models are trained on SDD — I believe there may be a few changes in hyperparameters (# of pooling layers etc.), but all 3 models are our social models for SDD.

- The pickle files we have provided in the repo are social pickle files based on thresholds

[2020-10-06 03:46] karttikeya commented on #1
Hope this answers your questions. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2020-10-06 03:46] #1 closed

[2020-10-06 13:32] ksachdeva opened #2 "Is initial_pos required if not doing social pooling ?"
Hi @karttikeya

This is a follow-up question based on your answer in the previous queries

Your answer:

Based on this I am assuming that if not doing social pooling then it is okay to not take initial_pos into account. Is that correct understanding?

Regards & thanks
Kapil

[2020-10-06 21:32] karttikeya commented on #2
Yes, I believe that's correct.

[2020-10-07 14:14] ksachdeva opened #6 "Question - Prior - Training vs Testing"
Hi @karttikeya

I noticed that during the training that a standard normal prior is assumed to compute the KL Loss. However, in the testing/evaluation, I see this hyperparameter for sigma (value set to 1.3) https://github.com/HarshayuGirase/PECNet/blob/4c342597ca4310ef4976412dd8c829ad60a5465a/utils/models.py#L127

Two questions -

a) Why this difference? i.e why not use 1.3 during training as well

[2020-10-07 17:42] ksachdeva opened #7 "Question - data scaling (applicable for ETH ?)"
Hi @karttikeya

I understand the notion of shifting the dataset to have the same origin. You also multiply the trajectories by 1.86.

- Is this number has any significance?
- Is it the same hyper-parameter used for ETH as well?

Regards
Kapil

[2020-10-07 18:41] karttikeya commented on #6
Please see Section 3.1 of the [paper](https://arxiv.org/pdf/2004.02025.pdf).

[2020-10-07 18:45] karttikeya commented on #2
Hope this answers your questions. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2020-10-07 18:45] #2 closed

[2020-10-07 18:52] ksachdeva commented on #6
Thanks. Missed this part.

[2020-10-07 18:52] #6 closed

[2020-10-07 19:19] karttikeya commented on #7
We noticed scaling the data helped slightly with better optimization (note, same effect might be possible by tuning lambda1 & lambda2 instead). To keep other hyperparameters the same, we scaled the ETH trajectories to be on the order of magnitude of SDD trajectories ( about 170 I believe).

[2020-10-07 19:52] ksachdeva opened #8 "Able to get good/comparable results for SDD in Ours-S-TT configuration"
Hi @karttikeya

You will find this interesting

Here is a colab notebook that has code from this repository with a change that I removed the code related to anything social and initial_pos.

https://colab.research.google.com/drive/1p2NsydskxlJpN9FQjsIuBYt023SK03P9?usp=sharing

You will see that during training it showing best as

Test Min FDE 16.265123988001477
Test Best ADE Loss So Far (N = 20) 1

[2020-10-07 20:05] ksachdeva commented on #7
Ah. I tried to train ETH this morning but no success. Will try this suggestion now to scale the trajectories first.

[2020-10-07 22:19] ksachdeva commented on #7
Hi @karttikeya

This is to confirm that indeed 170 does benefit.

Here is a new notebook in which I am training ETH

https://colab.research.google.com/drive/1OdVwL3CM-_f-T3HlHyY3B2IaTDiKmprs?usp=sharing

This notebook has some differences from code in your repository because of the data preparation part. Everything is in the notebook itself including downloading of datasets etc.

Above to reproduc

[2020-10-07 23:26] Yijun88 opened #9 "How does the social mask get created?"
Hi @karttikeya ,

First of all, very nice work for PECNet! The idea of path planning conditioned on endpoints is really interesting. I have two questions regarding the training procedures:
1) how does the social mask corresponds to the social IDs?
I understand intuitively the social masks are used to indicate whether in spatial and temporal domain two objects interacts with each other. And due to

[2020-10-11 05:23] xieshuaix opened #10 "Implementation clarification appreciated"
Thanks for sharing your code. Could you please explain the rationale behind the following implementations? Thanks.
1. Why is initial_pos down scaled by 1000? Also the number 7 below probably should be replaced by param in yaml, otherwise it can easily leads to ground truth leakage i.e. when we adjust observation horizon to 6.
https://github.com/HarshayuGirase/PECNet/blob/4c342597ca4310ef4976412dd8

[2020-10-13 19:45] HarshayuGirase commented on #9
Hi,

1. Current size keeps track of how many pedestrians have been added to this batch so far. Currently in code, the social mask will be a series of block 1 matrices (check paper for details). Thus, a naive solution was just to keep a track of current index and neighbors — for example if indices [22,23,24] of the batch are neighbors (always contiguous by setup) then you will see in mark_similar,

[2020-10-13 19:57] HarshayuGirase commented on #10
Hi,

1. Right -- we'll update this! Scaled initial pos is used to allow the network to learn relative positions between pedestrians while matching element magnitudes.

2. We use the ground truth to select the min error trajectory (we choose the best destination to be the best trajectory) of the K=20 predicted trajectories. See section 3.5 of this paper: [https://arxiv.org/pdf/1803.10892.pdf].

[2020-10-14 02:58] HarshayuGirase commented on #7
Hi @ksachdeva,

That's nice that you were able to reproduce it! I took a glance and it looked good to me -- perhaps this might be useful to add to our repo for others training on UTH/ECY. If you'd like to add a PR with this notebook, we'd be happy to include it.

[2020-10-14 03:01] HarshayuGirase commented on #8
Hi,

That is correct -- it's averaged during test so the signal on the test/val set during training may be slightly noisy. Correct me if I'm wrong, but it seems as though you are using the TT (sampling with >1 SD at test time which is the default we had set for K=20)?

[2020-10-14 13:04] ksachdeva commented on #7
Thanks @HarshayuGirase, I will send the PR tonight.

[2020-10-15 09:24] os1a opened #12 "Pretrained Models for ETH-UCY"
Hi,
Thanks for the nice work, I have a question regarding reproducing the numbers in Table 2 (ETH-UCY).

Do you have the pretrained models, and also the testing script?

Thanks in advance,

[2020-10-15 09:29] HarshayuGirase commented on #12
Hey @os1a ,

Thanks for your interest in our work/code -- hope it is helpful! We actually had not included pre-trained models/testing for the ETH-UCY datasets, as our main focus was SDD. However, the training/testing should be as simple as loading the ETH-UCY datasets and changing a couple hyperparameters.

I believe @ksachdeva was able to reproduce the numbers on ETH-UCY and kindly has provided t

[2020-10-18 09:57] karttikeya commented on #9
Hope this answers your questions. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2020-10-18 09:57] #9 closed

[2020-10-18 09:58] karttikeya commented on #10
Hope this answers your questions. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2020-10-18 09:58] #10 closed

[2020-10-18 09:58] karttikeya commented on #12
Hope this answers your questions. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2020-10-18 09:58] #12 closed

[2020-10-18 10:00] karttikeya commented on #7
Thank you for your contribution. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2020-10-18 10:00] #7 closed

[2020-10-20 18:01] ksachdeva commented on #8
HI @HarshayuGirase

Apologies for the late reply.

I did not change the number of samples to 1. It is still K=20.  The scale used is 1.3 (as in your original implementation)

Regards
Kapil

[2020-10-20 20:25] HarshayuGirase commented on #8
Hi @ksachdeva,

Thanks for clarifying. It seems as though you are using the TT, as the SD is 1.3 (different than what was used in training). Please see the **Truncation Trick** in section 3.1. For larger sample sizes (K=20), instead of truncating, we use a larger SD for better sample diversity, so this model you experimented with would just be O-S. Setting the SD to 1 during test time would corres

[2020-10-20 21:04] ksachdeva commented on #8
Thanks @HarshayuGirase

It makes sense now. I would try again with SD = 1 during test.

I got 1.3 from your configuration file. I am assuming it is valid for SDD, was it different for ETH ?

Regards
Kapil

[2020-10-21 02:52] HarshayuGirase commented on #8
No problem @ksachdeva !

Yes, our default parameters in config file were the best parameters we found for K=20 (so it includes social + changing SD trick). I believe it was the same for ETH/UCY. I'll close this issue for now -- feel free to open another issue for other questions!

[2020-10-21 02:53] #8 closed

[2020-12-09 19:19] nachiket92 opened #13 "Questions about the dataset split"
Hi, first of all, congratulations! This (along with Y-net) is very impressive work. Also thank you for making the code available.

I have been working on a related model and am also using / have used the Stanford drone dataset for evaluation. I had a few questions regarding the dataset split used and reported in the PECnet and Y-Net papers so as to conduct a fair comparison.

1) Are the results re

[2020-12-15 00:56] HarshayuGirase commented on #13
Hi Nachiket,

Thanks for your interest and questions!

I believe there might have been some confusion in questions (1) and (3). The PECNet  paper considers the standard 3.2s in/4.8s out (8 frames in/12 frames out) prediction setting. For this we use the same data as in the TrajNet challenge and use the same splits as in prior works (S-GAN, SoPhie). The agents considered are all agents (no filterin

[2020-12-15 02:23] nachiket92 commented on #13
Thanks for the clarifications, this is helpful :)

There's just one small issue that ties in to (1): the TrajNet _challenge_ considers only a small subset of all trajectories in the raw SDD annotation files. Based on my communication with the authors of SoPhie,  MATF and CF-VAE, prior work considers all trajectories in the scenes corresponding to the train/val/test sets of TrajNet. This is the set

[2020-12-26 03:29] Khrylx commented on #7
@ksachdeva, thanks for providing the notebook! However, based on the notebook's log and my own run, the performance for ADE/FDE is around 0.58/0.84, which is far from that in the paper (0.29/0.48). Would you mind sharing your config YAML file for reproducing the results?
Thanks in advance!

[2020-12-29 13:31] HPark0517 opened #14 "Question about visualize"
How to visualize the pre-trained model and what is the commands ?

Thank you

[2021-01-22 09:26] WW-Tong opened #15 "Questions about ETH and UCY data processing"
Hi,
Thank you for your excellent work, I have a question about conducting experiments on ETH/UCY data.
I would like to know whether your data processing methods for ETH and UCY and the required data format are consistent with those in SGAN.
Thanks in advance,

[2021-02-13 13:11] sjtuxcx commented on #7
@ksachdeva Hi, May I ask how you generate the eth npz file? I use my eth data but receive a poor performance and I notice there are 30000+ trajectories in your dataset but only 3000+ trajectories in my eth data. Could you share the data generation code?

[2021-03-04 05:33] audengxiao opened #16 "input data for the model"
hi, I hava a question about input data, in function collect_data, input is [person_id, frame_id ,x, y], here what's "x, y" refering to?
and while in your pickled data, input data is bounding box coordinates [xmin, ymin, xmax, ymax]

[2021-03-07 11:43] os1a commented on #13
Hi @nachiket92 @HarshayuGirase,

Since the website of the trajNet benchmark is not working anymore: http://trajnet.stanford.edu/
I am wondering if you can share with me the train/val split of the SDD dataset. I have all training scenes with 31 scenes, but not sure which are used for training and which for validation.

Thanks,

[2021-03-08 08:49] os1a commented on #13
An update to my previous question, I think I figured out that the 31 scenes are all training. But I do not have the validation scenes of the TrajNet benchmark for SDD. Could you please share these files with me?

Thanks,

[2021-04-13 06:50] Kguo-cs opened #17 "Problem in the prediction result"
In the prediction process, you use all the pedestrains in the scene to predict their future. Therefore, you may use the same or neighbor pedestrain's future trajectories for the prediction. I think it will invalidate your result. Is it correct?

[2021-04-13 08:37] Kguo-cs commented on #17
Besides, the mask use groud truth information.

[2021-04-16 00:30] HarshayuGirase commented on #17
Hi,

The masks are made to pool neighboring agents together. The masks do use ground-truth observation data (from the past trajectory history) but do not use any future information that can result in ground-truth leakage.

[2021-04-16 00:30] HarshayuGirase commented on #16
Hi,

The "x" and "y" refer to the agents' (x,y) coordinates in pixel space.

[2021-04-16 00:31] HarshayuGirase commented on #15
Hi,

Yes, we use the same ETH/UCY data that SGAN uses. We just create batches ourselves based on neighboring agents using the social masking script.

[2021-04-18 14:03] LXY572 opened #18 "Unable to get the results in table1"
Hi,@karttikeya
I tried to use the "python training_loop.py" command without changing any parameters, but when I used the model I just got to test, I couldn't get the best result in table1, and I got the smallest ade/fde 10.35/16.23. I am confused why the result is similar to O-TT (in fact, sigma=1.3, and I did not change any parameters) instead of PECNet.
Moreover, I am also curious about l1loss.

[2021-04-19 10:14] os1a opened #19 "Difference between pretrained models"
Hi,

I am wondering if you can give some explanation about the different pretrained models on SDD. When running the test script on these models, I got different results (the best are for the first model PECNET_social_model1.pt)

Thanks in advance,

Best,

[2021-04-19 14:39] os1a commented on #15
Hi,

Can you share the processed eth-ucy pickle files that you used for your paper?
The original ones from SGAN has no masks and therefore we cannot apply your social pooling there.

Best,

[2021-04-27 10:56] #18 closed

[2021-04-27 10:56] LXY572 commented on #18
I have understood.

[2021-04-29 07:20] HarshayuGirase commented on #19
Hi,

I believe there's no major difference aside from maybe a couple of hyperparameter changes such as LR or loss function coefficients. The difference is due to variance while training but the results should be within 1-2% of each other.

[2021-04-29 07:23] HarshayuGirase commented on #15
Hi,

We no longer have access to the server which had original processed pickle files and saved models for ETH/UCY, but I am working on getting these. I will let you know once I have updates!

[2021-04-30 19:20] karttikeya commented on #16
Hope this answers your questions. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2021-04-30 19:20] #16 closed

[2021-04-30 19:20] karttikeya commented on #17
Hope this answers your questions. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2021-04-30 19:20] #17 closed

[2021-04-30 19:20] #14 closed

[2021-05-03 21:34] HarshayuGirase commented on #15
Hi,

The pickle files are available here: [https://drive.google.com/drive/folders/1ee9h_WtoXZhXZPT0H55uDFZaSmoArbf0?usp=sharing]

[2021-05-04 06:07] #15 closed

[2021-05-05 23:43] karttikeya commented on #19
Hope this answers your questions. I'm closing this issue for now. Please feel free to open another issue for other questions, star the repo if you found it helpful and thanks for interest in our code.

[2021-05-05 23:43] #19 closed

[2021-06-09 20:56] JiajianLu opened #20 "Question about the multimodel end point sampling"
Hi, thank you for providing the code. I'm just wondering how do you sample the multimodel end points from only one Gaussian distribution? Should it be GMM instead?

[2021-06-12 08:22] kevinlemon opened #21 "Question about data preprocessing. How to convert the raw dataset into the picke files?"
Thank you for sharing your code. It is a wonderful work.
I am wondering how to generate the pickle files that used in this code.
As far as I know, the raw ETH dataset is provided in the data format something like this "  [frame number, pedestrain ID, y, x]
Although the dataset processing script is provided (https://drive.google.com/drive/folders/1ee9h_WtoXZhXZPT0H55uDFZaSmoArbf0?usp=sharing), the

[2021-06-25 19:38] HarshayuGirase commented on #21
Hi,

The pre-processing script for ETH/UCY is not provided in the given link, but we used similar processing as done for SDD: [https://github.com/HarshayuGirase/PECNet/blob/master/utils/social_utils.py#L92]. Here you can see how the raw data format is processed. If I find the pre-processing script for ETH/UCY I will upload it here. Hope this helps!

[2021-07-16 09:47] os1a opened #22 "Config of the ETH-UCY"
Hi,

Thanks for sharing the code of your great work.

Could you please share the optimal config file of the ETH-UCY. If I use a similar config file as the SDD, I am getting a lot worse results (errors are almost twice larger).

I used the same training script and pickle files provided for ETH-UCY.

Or even better, if you can share with us the pretrained model you obtain for ETH-UCY, so we can repr

[2021-08-03 11:12] amitsunde commented on #22
I have same question. Can you provide optimal config file of the ETH-UCY?

[2021-08-03 22:22] HarshayuGirase commented on #22
Hi,

Unfortunately, we don’t have the **exact** config parameters we used. However, we were able to reproduce results and have provided notebooks to reproduce experiments for PECNET without pooling/TT (https://drive.google.com/drive/folders/1WtPEdV2aVl8ASZAk5h7fyZpa5xiRDTyv). Please see: https://github.com/HarshayuGirase/PECNet/issues/7 for more details. The main parameter to change would be data_

[2021-10-10 18:35] abduallahmohamed opened #25 "ETH-UCY results, train/ test/ val sets, best point picked up on the test set?"
Hi,

Thanks for your work. I was looking into the ETH-UCY notebooks/ code that is provided in the code. What I see that the test set where used to pickup the best point and then the results where reported on the test set. Yet, all prior works - I'm aware of- used the validation set to pickup the best training point and then reported the ADE/FDE metrics on the test set.

I just want to confirm this

[2021-10-15 08:32] Gutianpei opened #26 "ETH-UCY result without TTST"
Hello,

Could you provide the ETH-UCY result without TTST trick? I guess the result reported in your YNet paper is with TTST, and I wonder how TTST works against ETH-UCY dataset. Thank you very much!

[2021-10-18 04:16] HRHLALALA opened #27 "Homographic Matrix for UCY used in Y-Net"
Hi, I am building the dataset for UCY and ETH dataset. To conduct a fair experiment, can you provide the homographic matrix used for UCY? Also, do you use same scene images among uni_examples and UNIV (student00*) as well as among Zara * datasets?  Thanks.

[2021-10-29 00:06] #26 closed, assigned to nobody

[2021-10-29 00:06] #27 closed, assigned to nobody

[2021-11-01 08:04] Gutianpei commented on #26
Hello,

Thanks for the reply! I've checked the code and it looks like testing without TTST can be simply performed by setting use_ttst parameter to false. YNet has superior performance on ETH/UCY dataset, and I wonder how much does the trick part contributes. Or is that possible to release all the train/test data you used or the pretrain models on ETH/UCY?

[2021-11-01 09:27] Gutianpei commented on #26
Or maybe you have the testing result without TTST on SDD dataset with np=8, nf=12 setting?

[2021-11-08 16:39] sff1019 opened #29 "Question regarding Y-Net's ETH/UCY experiments"
Hi,

First of all, thank you for this amazing work!

I am currently trying to reproduce the results for ETH/UCY, but cannot seem to achieve this. I believe the reason is because I might have some different inputs from you, e.g. ETH/UCY dataset in image coordinate, segmentation maps, reference images, etc.
Could you provide us the inputs you've used for ETH/UCY? And if possible, the configuration f

[2021-11-15 09:11] TeingQiHao opened #30 "Conceptual Understanding"
Hi all,

I wish to use this model to predict trajectories of all objects (static and dynamic) captured by my camera. And my camera is moving as well. Can this model be used in such a case to get trajectories of the objects? Thank you.

[2021-11-25 08:41] benedettaliberatori opened #31 "Trajectory Heatmaps for ETH/UCY"
Hi, Thank you for your contribution and for providing the code!
I have a question regarding the trajectory heatmaps computation for the ETH/UCY datsets.
The `resize` parameter from the config file and the value `4200` set the resolution of the big distance matrix template:

https://github.com/HarshayuGirase/Human-Path-Prediction/blob/ec6cca5f7f5cd49e6c71ebadc31c05cb8615bbf9/ynet/model.py#L295

Cou

[2021-11-26 22:05] godspeed5 commented on #21
I have the same issue for the inD dataset. Can the preprocessing script be provided?

[2021-11-29 16:51] ThierryDeruyttere opened #32 "Some questions"
Hi,

Thanks for the ynet code. We have a question about the gaussian heatmap template used to represent the ground truth template.
In the paper, you mentioned that you represent the ground truth as a heatmap with gaussian components with a variance of 4 pixels centered at observed points. However, in the implementation, you are taking patches from the ground truth template which is essentially a l

[2021-11-30 08:14] DeepOzean commented on #20
The end point distribution are not Gaussian. They are non-parameterized, i.e., each pixel has a probability value. For goals we use TTST to sample (see paper) and for trajectory points, we use softargmax.

[2021-11-30 08:14] #20 closed

[2021-11-30 08:24] DeepOzean commented on #30
Theoretically yes, assuming you have an object detector that outputs the pixel coordinates of the objects. The setting is quite different, 1) Your view is ego-view, 2) the camera is moving. So you would need to retrain a new model on this setting. It would be great if you can share your experience how the model performs in this setting :)

[2021-11-30 08:39] TeingQiHao commented on #30
Thank you for your inputs. I will try to train a new model for moving camera and update you on it.

[2021-11-30 09:27] DeepOzean commented on #32
Hi,

The template (called `gt_template ` in the code) is a big heatmap (2*wider than the largest scene image) with a Gaussian with variance 4 fitted into the middle.

We initialize this template before training and load it into the GPU memory. During training we then take patches out of it to fit the ground-truth trajectory (so the trajectory point is at the mode of the heatmap). We just think thi

[2021-11-30 09:47] #32 closed

[2021-11-30 18:52] #22 closed

[2021-12-16 12:46] AndreHenkel opened #33 "Input to Future Trajectory Decoder (Ut)"
Hi,
I'm currently using your Y-Net on Simulated Data and it works very well. Thank you for the great code :)

My question regards the input for the Trajectory Decoder (Ut). In your paper it seems, that you use the feature output from the Encoder(Ue) together with the **predicted** goal from the Ug Decoder. But going over your code in "ynet/train.py" in line 83 it seems, that you use the ground-tru

[2021-12-16 19:04] sff1019 commented on #27
@HRHLALALA Hi, I was wondering if you got similar results as the paper for Y-Net on ETH and UCY dataset. Thanks.

[2021-12-17 00:49] HRHLALALA commented on #27
I am currently using the dataset from Social GAN to train but unfortunately not yet got the results. I will let you know when the results come out.

[2021-12-17 03:22] sff1019 commented on #27
Thanks for the quick response!
I see, FYI I've trained a new model using the dataset from Social GAN and for the ETH split I've got
[code]
This is unfortunately very different from the original numbers in the paper.  It would be great if you can check it with yours once you have it.
Thanks.

[2021-12-18 21:39] DeepOzean commented on #33
Hi Andre,

Great our work helps your research :)

There is a difference between training and inference/testing phase. During training the submodel Ut uses the ground-truth goal. The intuition is that the model should learn that predicting a path towards the conditioning coordinate (i.e. the ground-truth goal) is leading to small errors.

During inference, Ut is conditioned towards the predicted go

[2021-12-20 06:26] pengpengjun opened #34 "Three potential problems: (A) 1.86 factor (B) initial position needed? (C) ADE/FDE calculation"
Hello,
I am playing with the code of PECNet to help my research, it is well written, and thank you for sharing! But I am struggling with three detailed problems here. Hope you can help out.

1. Why is all data scaled to 1.86 times bigger using the optimal settings?

2. Why is the initial positions needed for the prediction features? I think this is not mentioned in the paper.

3. In the test funct

[2021-12-23 07:46] HarshayuGirase commented on #34
Hi Zifeng,

Thanks for your interest, hope our code and paper are useful.

1) Please see: [https://github.com/HarshayuGirase/Human-Path-Prediction/issues/7]. We noticed scaling the data helped slightly with better optimization (note, same effect might be possible by tuning lambda1 & lambda2 instead).

2) Please see: [https://github.com/HarshayuGirase/Human-Path-Prediction/issues/1#issuecomment-704

[2021-12-29 14:00] pengpengjun commented on #34
Hi，

Thank you for the detailed answer! It is really helpful.

I have no problem with the first two questions now. But for the last question, I would like to clarify my opinion further. Let's assume there is a robot Charlie that is running the code in the real world, and it is trying to predict the trajectory of another robot Jenny. Since Charlie doesn't know the goal or intention of Jenny, how sh

[2021-12-29 14:01] pengpengjun commented on #34
Hi，

Thank you for the detailed answer! It is really helpful.

I have no problem with the first two questions now. But for the last question, I would like to clarify my opinion further. Let's assume there is a robot Charlie that is running the code in the real world, and it is trying to predict the trajectory of another robot Jenny. Since Charlie doesn't know the goal or intention of Jenny, how sh

[2022-01-02 14:31] AndreHenkel commented on #33
Thank you very much.
It makes sense and I adopted it :)

Best,
André

[2022-01-02 14:31] #33 closed

[2022-01-02 23:31] HarshayuGirase commented on #34
Hi,

That's a good point you make. The multimodal predictions made by "charlie" would typically be used downstream by a motion planner to decide what action to take. The planner can reason about multiple predictions before deciding what action is best -- it doesn't necessarily only need the "best" trajectory as input. Because pedestrians and vehicles have multimodal  behavior, it is important to r

[2022-01-03 18:24] sff1019 commented on #29
Are there any updates regarding this issue? Or do you not plan on releasing the dataset for ETH/UCY for Y-Net?

[2022-01-04 12:56] pengpengjun commented on #34
Hello!

Your answer clarifies my confusion a lot, thank you! But there is one last quick point I want to make, hope you don't mind. Like you said the motion planner doesn't necessarily only need the "best" trajectory as input. If we are only evaluating the performance of the best one, is it persuasive enough to conclude the "Average Performance" of the prediction module is good enough since the mo

[2022-01-10 23:58] HarshayuGirase commented on #34
This is definitely a good point -- the minADE and minFDE metrics may not capture everything that's important for a prediction module. For example, it may not always ensure that edge/rare scenarios are considered, etc. Incorporating planning metrics to evaluate prediction models could be an interesting direction (I believe https://arxiv.org/pdf/2110.03270.pdf explores this).

But as of now, many wo

[2022-01-11 09:43] pengpengjun commented on #34
Now I understand how things go in the code now, thank you! By the way, could you please offer the standford drone dataset you used for PECNet? It seems that the stuff I download are in quite different format, or could you please at least tell me where to download the dataset with the exact the same format. Thanks again!

[2022-01-12 03:09] HarshayuGirase commented on #34
We've provided the pickled files (processed) and pre-processing scripts that we use for Stanford Drone Dataset:

https://github.com/HarshayuGirase/Human-Path-Prediction/blob/master/PECNet/utils/social_utils.py#L66

[2022-01-12 15:09] karttikeya commented on #34
Hope this answers all your questions @pengpengjun.

For ease of search, please raise another issue for different question in future. Closing this since all your original queries seem to be solved now.

[2022-01-12 15:09] #34 closed

[2022-01-12 15:09] #30 closed

[2022-01-18 21:45] HarshayuGirase commented on #21
Hi,

Sorry for the delayed response. The script has been added: https://github.com/HarshayuGirase/Human-Path-Prediction/blob/master/ynet/utils/preprocessing_inD.py

Thanks!

[2022-01-24 00:42] HRHLALALA opened #35 "YNet: More details about the final training on ETH/UCY Dataset"
Hi, can you provide more experimental details about the final training of Y-Net on ETH/UCY Dataset to get your scores on the paper? Like #29 , I cannot obtain the results on the paper as well. Specifically, I have the following questions:

- Did you train the full epoch? I notice that you stopped  training after the counter reaching 30. Otherwise, ~300 hours are required.
- How did you apply the d

[2022-01-24 22:06] HarshayuGirase commented on #29
Hi,

Sorry for the late response! I believe @DeepOzean has added the ETH/UCY semantic maps, homography matrices, and pixel-coordinate data to https://drive.google.com/file/d/1u4hTk_BZGq1929IxMPLCrDzoG3wsZnsa/view. To transform the image coordinates back into world coordinates (meters), the script in utils/image_utils/image2world should help.

[2022-01-24 22:25] HarshayuGirase commented on #35
Hi,

- I believe for ETH/UCY we trained for ~70-100 epochs with a LR of 0.0001.
- We used the implementation from https://github.com/oeway/pytorch-deform-conv for Deformable Convolutions, but it seems that https://pytorch.org/vision/stable/_modules/torchvision/ops/deform_conv.html is recommended. To use deformable conv, we replaced all the conv operations with deformable conv.
- In #29 , we releas

[2022-01-24 22:36] HRHLALALA commented on #35
Hi Harshayu, thank you very much for your response. It is really helpful! For the first question, may I confirm whether you have deleted the following code during the last training?
[code]

[2022-01-24 22:44] HarshayuGirase commented on #35
Yes, I believe this is deleted during final experiments

[2022-01-24 22:51] HarshayuGirase commented on #31
Hi,

The resize value we used is 0.66. Decreasing the resize parameter more can allow for bigger batch size.

[2022-01-25 00:56] HRHLALALA commented on #35
Thanks for your updated reply! I have replaced all Convs with deformable convolution but the training time is really long (more than one hours per epoch). Note that I train the model on RTX3090 using the batch size of 8. **Is this same for you during the final training?** Just want to confirm all the configurations are same as yours.

Here is my implementation of `DeformConv2d` using `torchvision.

[2022-01-25 05:01] sff1019 commented on #29
Thank you for the data! @HarshayuGirase @DeepOzean
I will retrain my models to see if I can get similar results.

One quick question. Do you use `augment_eth_ucy_social` during training? If so, when do you use it? https://github.com/HarshayuGirase/Human-Path-Prediction/blob/a345ada1557f53dc2acb4c07f71d340d366980da/ynet/utils/preprocessing.py#L301

Best

[2022-01-27 20:16] HarshayuGirase commented on #35
Hi @HRHLALALA,

We used a 16GB V100 for training. I was able to find a copy of a training log (not sure if this is the final model we used since it doesn't have deformable conv parameters, will try to double check on this) but hopefully this should help:

{'ade_loss_lambda': 1,
 'batch_size': 16,
 'centroid': 'unweighted',
 'decoder_channels': [64, 64, 64, 32, 32],
 'encoder_channels': [32, 32, 64

[2022-01-27 20:18] HarshayuGirase commented on #29
Hi,

I just double checked -- we did augment the data during training. It should be used similar to augment_data(...) function that is called for the other datasets

[2022-02-01 04:34] Kguo-cs opened #36 "step interval in ETH"
The original time step interval is 6. But in the data provided, it is 10, Why? Could you please provide the code for data processing? Thank you very much.

[2022-02-09 12:30] LXY572 opened #37 "Hi, Can you provide the segmentation_models of eth_ucy?"

[2022-02-11 06:24] HarshayuGirase commented on #37
Hi,

For ETH/UCY we used the semantic maps provided in the drive link

[2022-02-11 10:15] ArcaneEmergence commented on #36
We used the preprocessed data from Social GAN that you can download from here:
https://github.com/agrimgupta92/sgan

The time steps there is 10.

[2022-02-11 10:15] #36 closed, assigned to nobody

[2022-02-12 21:32] sff1019 commented on #29
Hi,

Thank you for the dataset. I was able to reproduce similar numbers!

[2022-02-12 21:32] #29 closed

[2022-02-14 10:54] #35 closed, assigned to nobody

[2022-02-16 21:55] #21 closed

[2022-02-16 21:56] #31 closed

[2022-02-16 21:56] #37 closed, assigned to nobody

[2022-02-19 12:57] AndreHenkel opened #38 "YNet ETH Dataset Moving Camera"
Hello,

In your paper YNet you talked about using ETH/UCY and I was wondering if you also tested your network on the moving ego perspective of ETH. (Mounted camera rig on the car)
If so, I wanted to ask if you normalized the pedestrian coordinates to a certain frame, and which frame from the video-sequence you used as input to your YNet model. I.e. the initial image of the video-sequence or the la

[2022-03-01 09:29] ArcaneEmergence commented on #38
Hi André,

We have only used bird-view perspective trajectories without moving the camera, as used in Social GAN and the other benchmarked methods.

It would be interesting to see how Y-net can be modified into an ego and moving perspective. From my gut feeling, the (static) ego-view alone wouldn't pose a big challenge if you retrain the model on enough data. For the moving camera part, I believe

[2022-03-02 03:51] letme-hj opened #39 "Question about the preprocessed data for ETH/UCY"
Hi,
thank you very much for your nice work and sharing it!

I have a question regarding the preprocessed data you provided (through Google Drive).
Among the datasets provided, I found out that some of the samples in pickle file for eth/ucy dataset are the same, but with different metaIds.
For example in hotel_train.pkl, it has samples of different metaId with everything else the same (trackId=1.0,

[2022-03-03 10:07] ArcaneEmergence commented on #39
Hi, yes this is correct, metaId is simply a unique ID for each sample within a dataset (say only within hotel_train.pkl, eth_train.pkl, ...), but not across datasets.

And regarding the files, *_train.pkl is the whole dataset without the * dataset (e.g. * = "eth"), so you can report scores on the unseen * dataset (contained in *_test.pkl). So you would only use one pair of *_train.pkl and *_test.p

[2022-03-03 10:07] #39 closed, assigned to nobody

[2022-03-03 11:28] AndreHenkel commented on #38
Thank you! :)

[2022-03-03 11:28] #38 closed, assigned to nobody

[2022-03-06 04:25] letme-hj commented on #29
Hi, @sff1019 @HarshayuGirase
I'm also trying to reproduce the results of YNet with ETH/UCY dataset, and I would like to ask you for a little help!

How can I apply the function `image2world` to the augmented scenes?
It seems like I need new homography matrices for the augmented(rotated, flipped) scenes, and I'm not sure how I can get them.

I would appreciate your help!

Thank you

[2022-03-08 03:27] letme-hj commented on #29
Hi, @sff1019  @HarshayuGirase
I'm also trying to reproduce the results of YNet with ETH/UCY dataset, and I would like to ask you for a little help!

How can I apply the function `image2world` to the augmented scenes? It seems like I need new homography matrices for the augmented(rotated, flipped) scenes, and I'm not sure how I can get them.

I would appreciate your help!

Thank you

[2022-03-08 03:58] sff1019 commented on #29
@letme-hj All the matrices are shared via google drive (the link in README). Using that should do the trick!

[2022-03-08 04:09] letme-hj commented on #29
@sff1019 Thank you so much for the reply!!

Just to make sure, so do you apply the same homography matrices for the rotated and flipped data as well?
For example `eth_H.txt` for `eth_rot90`, `eth_rot270`, `eth_fliplr_rot90`, etc.  with no special transformation on the homography matrix?

Thank you!

[2022-03-08 04:13] sff1019 commented on #29
@letme-hj yes, I think that should be fine! I’ve only used those homography matrices, and didn’t modify much of the code (just fixed the final evaluation part where it calculated the ADE/FDE for my own convenience) but still got very close/same numbers.

[2022-03-08 04:16] letme-hj commented on #29
@sff1019 wow that should make it much easier for me!!
Thank you very much for sharing!! :)

[2022-03-11 08:18] ynw2021 opened #40 "time cost"
Hello, thanks for sharing your code!
I am wondering how much time does it cost for you to train your y-net model? And how many gpus do you use? I use one titian xp and it seems to cost me 2 days for training. Is that normal?

[2022-03-14 07:05] spam-12345 opened #41 "Script for GIFs/ Best trajecotrie / loss function"
Thank you for your wonderful code and paper!
Would it be possible that you also provide the script for generating the gifs for the YNet?
In addition, I am unfortunately not quite clear how to find out which is the best trajectory of the predicted 20 (also for the YNet)?

[2022-03-15 17:50] jun-long-li opened #42 "YNet: Data augmentation for training on ETH/UCY Dataset"
Hi, I've read #29 and #35, but I'm still confused about the data augmentation for ETH/UCY dataset.
The original code uses the function `augment_data(train_data, image_path, image_file, seg_mask)`, but when I try to use `augment_eth_ucy_social(train_batches, train_scenes, train_masks, train_images)`, I can't find the corresponding variables, like `train_masks`.
I wonder when and how you call the fu

[2022-03-16 02:57] HRHLALALA opened #43 "Normalize the gt template"
Hi, thanks for your excellent work!

I notice that your template is within (0,0.0099) and you do not normalize the template to (0,1) though there is such a choice. Would this affect the sigmoid function and BCE? Because usually, we use binary labels for this. May I ask any reason behind that?

Just want to make sure I am not missing important details! It will be helpful if you can answer these. Th

[2022-03-16 17:56] ArcaneEmergence commented on #40
On one single old RTX 2080 gpu, training to the best SOTA result can take upto a couple of days. But it can be made significantly faster by

1. Simply skipping intermediate evaluations (which are time expensive and do not improve model performance)
2. Setting a smaller K_e and K_a for evaluations.
3. .. or simply modern GPUs.

[2022-03-16 17:59] ArcaneEmergence commented on #41
For Y-net at least the GIF was done with matplotlib for each single timestep and external web tools (you can just google GIF maker) to create the GIF from the single images

[2022-03-16 18:00] ArcaneEmergence commented on #42
For the reported results, we only used augment_data.
We did not use augment_eth_ucy_social, it was an experimental version that didn't do what we expected.

[2022-03-16 18:12] ArcaneEmergence commented on #43
The template reflects a probability distribution over positions, so everything should sum up to 1. As you mentioned, usually BCE is used for binary labels, but it can also be used to measure a distribution to another, as negative log-likelihood does.

https://pytorch.org/docs/stable/generated/torch.nn.BCELoss.html

[2022-03-16 21:42] #40 closed, assigned to nobody

[2022-03-18 09:32] spam-12345 commented on #41
Generally creating a GIF is not the problem. However, on my dataset I don't get as nice heatmap representations as you do. They don't have such strong separated color dots (see picture). It's more of an even gradient. That's why I had asked.

![image](https://user-images.githubusercontent.com/48084588/158977433-1618b974-fadc-4b8b-ad3c-bfcec5d4864c.png)

The more important question is the second on

[2022-03-31 08:14] #41 closed, assigned to nobody

[2022-04-09 14:56] Gloria2tt opened #44 "about visualize"
sorry for bothering
can you provide the visualize method? I am new to this field , hope you can do me a fever.thank you!

[2022-05-02 07:30] Sdabuliu commented on #22
I have the same questions, can not reproduce the results on ETH/UCY,(errors are almost twice lager) I didn't change the pickle.

Have you soled the problem? I have the same question, error are almost twice lager

[2022-05-02 07:32] Arphry commented on #22
Have you get the results reported in the paper? I have the same question,error are twice lager.

[2022-05-02 09:13] Arphry opened #45 "Reproduce the results"
Hi, thank you very much for your great work！
I have some problems when reproduce your results on ETH/UCY, I use the *.pickle files that you provided(data scale is 170 when compute init_position), but can not get the same results of PECNet,(error even twice lager).
1.Is this result due to the dataset you processed?
2.Can you please provide the code that you get the results of the paper using the *.

[2022-05-24 08:08] daeunni opened #46 "About ETH-UCY [student_001.txt], [univ_examples_train.txt], [crowds_zara03_val] datasets"
Hi,  @HarshayuGirase
thank you for your nice work! :)

You seem to have used the same data split as SGAN.
However, it has been confirmed so far that **the three datasets** (student_001.txt, univ_examples_train.txt, crowds_zara03) the above title **do not have a scene image** on the Internet.

Nevertheless, WHY do you include the above three data in the train/val?
Since there is NO scene image, map

[2022-05-28 10:09] TsuTikgiau opened #47 "Question about SDD dataset split"
Hello, I'd like to reproduce your method on the SDD dataset. I notice that you follow the TrajNet split of train/val/test. However, it looks like the link of TrajNet website is down (http://trajnet.stanford.edu/) and their paper "Trajnet: Towards a benchmark for
human trajectory prediction" is not on arXiv anymore. I'd like to ask do you know how we can get the TrajNet setting of SDD to reproduce?

[2022-06-08 08:31] tom728 opened #48 "."

[2022-06-08 08:35] #48 closed, assigned to nobody

[2022-06-25 07:32] Kay1794 commented on #27
Hi @sff1019, I know it may be a little bit outdated, but I am wondering if you have achieved similar numbers on the Social GAN split for the ETH dataset? Any comments would be highly appreciated!

[2022-07-04 23:39] Kay1794 commented on #29
Hi @sff1019 , would you mind sharing your training environment for ynet on ETH/CUY? Such as what kind of GPU(s) you used and how much time the training procedure cost? Thank you soooo much!

[2022-07-16 13:39] FanHaveFun opened #49 "YNet ETH Training"
Hello,
I am tring EHT dataset with Y-net,but no works.
my code was just following  the [train_SDD_trajnet.ipynb] !
could you please relase the training code ?

Best,
FunLiu

[2022-07-20 07:19] 12num opened #50 "ETH original dataset"
Thank you very much for your work, I have a request I hope you can agree to
Could you share with me the data of your ETH processing script before processing, thank you very much!

[2022-08-22 12:22] MMNavetty commented on #47
you can find preprocess code on ynet/utils

[2022-10-19 13:35] JunningSu opened #51 "sdd dataset"
Thank you very much for your work. I recently had some problems reproducing the code for PEC-NET. The original SDD dataset we converted with the code provided by the authors for the dataset transformation yielded worse results(ADE/FDE=12.03/21.94) than the preprocessed data in the source code.Looking forward to your response!

[2022-11-17 03:51] Carlos144Green opened #52 "I can't find yaml file for ynet evaluate_SDD_longterm."
I am trying to use the evaluate_SDD_longterm.ipynb file but I can't seem to find the config/yaml file for the step "Load config file and print hyperparameters"

Do I have to create it myself and what would I have to do for this? Thanks.

![image](https://user-images.githubusercontent.com/60107217/202350721-390f941e-5401-4839-a9ab-8489eb249153.png)

[2022-11-17 06:58] SaoDiSengA opened #53 "[Solved] Reproduced ETH Result"
Hi @karttikeya

This is to confirm that indeed 170 does benefit.

Here is a new notebook in which I am training ETH

https://colab.research.google.com/drive/1OdVwL3CM-_f-T3HlHyY3B2IaTDiKmprs?usp=sharing

This notebook has some differences from code in your repository because of the data preparation part. Everything is in the notebook itself including downloading of datasets etc.

Above to reproduc

[2022-11-17 06:59] #53 closed, assigned to nobody

[2022-11-17 07:04] SaoDiSengA commented on #7
hi,can you provide the other npz file?Or the processing script!Thanks a lot!

[2022-11-17 07:16] karttikeya commented on #53
Hi @SaoDiSengA ,

Thanks for your message and confirming the reproduction and sharing the notebook.

Here is my copy of the same notebook (for redundancy): [ETH result](https://colab.research.google.com/drive/1DYf94zHCniVDSIx57M21uwVx3HFBXfDZ?usp=sharing)

This would help future users to be able to follow a 3rd party reproduction.

[2022-11-17 07:23] SaoDiSengA commented on #53
but,i want to get other npz files,like ucy,sdd

[2022-11-17 16:20] Carlos144Green commented on #52
Never mind, the link was in the readme file...

[2022-11-17 16:20] #52 closed, assigned to nobody

[2022-11-23 12:07] JiyouSeo commented on #37
Hello @HarshayuGirase,
Is the link expired now?
I cannot click the link that you wrote.

[2022-11-28 12:14] SaoDiSengA commented on #7
hi,i got the same question,do you solve the problem?

[2022-11-28 12:16] SaoDiSengA commented on #7
@ksachdeva Could you share the data generation code?i want to generate the npz file,but i can't solve this.